<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a class='site-brand-link site-brand-link--footer' href='{{ site.baseurl }}/index.html'>
          <span class='site-brand-mark'>DP</span>
          <span class='site-brand-copy'>
            <span class='site-brand-name'>dphilhowerstudio.com</span>
            <span class='site-brand-tag'>Identity, print, and web design</span>
          </span>
        </a>
      </h1>
      <p>©2026 dphilhowerstudio.com. All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Sections</h4>
        <ul>
          <li><a href='{{ site.baseurl }}/index.html'>Home</a></li>
          <li><a href='{{ site.baseurl }}/#services'>Services</a></li>
          <li><a href='{{ site.baseurl }}/#portfolio'>Portfolio</a></li>
          <li><a href='{{ site.baseurl }}/#process'>Process</a></li>
          <li><a href='{{ site.baseurl }}/#contact'>Contact</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Capabilities</h4>
        <ul>
          <li><a href='{{ site.baseurl }}/#services'>Logo Design</a></li>
          <li><a href='{{ site.baseurl }}/#services'>Poster Design</a></li>
          <li><a href='{{ site.baseurl }}/#services'>Print Media</a></li>
          <li><a href='{{ site.baseurl }}/#services'>Website Design</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact</h4>
      <ul>
        <li>Studio inquiries</li>
        <li>Email: <a href='mailto:hello@dphilhowerstudio.com'>hello@dphilhowerstudio.com</a></li>
        <li>Remote collaboration worldwide</li>
      </ul>
      <div class='spacing'></div>
      <ul class='socials'>
        <li>
          <a href='https://www.instagram.com/'>
            <i class='fa fa-instagram'></i>
          </a>
        </li>
        <li>
          <a href='https://www.behance.net/'>
            <i class='fa fa-behance'></i>
          </a>
        </li>
        <li>
          <a href='https://dribbble.com/'>
            <i class='fa fa-dribbble'></i>
          </a>
        </li>
        <li>
          <a href='https://www.linkedin.com/'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
      </ul>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/js/plugins.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>