<div id='footer'>
  <div class='three spacing'></div>
  <div class='row'>
    <div class='large-3 medium-3 columns'>
      <h1>
        <a href='index.html'>
          dphilhowerstudio.com
        </a>
      </h1>
      <p>©2026 dphilhowerstudio.com. All rights reserved.</p>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Studio</h4>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="index.html#services">Services</a></li>
          <li><a href="index.html#work">Layout samples</a></li>
          <li><a href="index.html#process">Process</a></li>
          <li><a href="index.html#contact">Contact</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <div class='links'>
        <h4>Services</h4>
        <ul>
          <li><a href="index.html#services">Logo design</a></li>
          <li><a href="index.html#services">Poster design</a></li>
          <li><a href="index.html#services">Print media</a></li>
          <li><a href="index.html#services">Website design</a></li>
        </ul>
      </div>
      <div class='spacing'></div>
    </div>
    <div class='large-3 medium-3 columns'>
      <div class='spacing'></div>
      <h4>Contact us</h4>
      <ul>
        <li>Email: hello@dphilhowerstudio.com</li>
        <li>Logo, poster, print, and website design</li>
        <li>Available for remote design projects</li>
      </ul>
      <div class='spacing'></div>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
<script src="{{ "/js/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/js/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>